<div style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center; height: 80vh;">
    <h1>Центр компьютерных занятий Мудрая Змеюка</h1>
    <h3>приветствует вас</h3>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <div style="width: 50%;">
        <p>В можете сразу ознакомиться имеющимися у нас курсами</p>
        <button type="button" class="btn btn-primary" (click)="MoveToCourses()">
          <svg class="bi bi-arrow-left" width="5em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 010 .708L3.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M2.5 8a.5.5 0 01.5-.5h10.5a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
      <div style="width: 50%; align-self: flex-end;">
        <p>Или же зарегестрироваться/войти</p>
        <button type="button" class="btn btn-primary" (click)="MoveToLogin()">
          <svg class="bi bi-arrow-right" width="5em" height="3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
          </svg>
        </button>
      </div>
    </div>
</div>