<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-3">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Профиль</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Мои курсы</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            <button type="button" class="btn btn-outline-danger" (click)="authService.SignOut()">Выйти</button>
          </div>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" *ngIf="UserData as user">
              <div style="display: flex; flex-direction: column; ">
                <form>
                  <div class="form-group">
                    <label for="InputName">Имя</label>
                    <input type="text" class="form-control" id="InputName" #InputName>
                  </div>
                  <div class="form-group">
                    <label for="InputSurename">Фамилия</label>
                    <input type="text" class="form-control" id="InputSurename" #InputName>
                  </div>
                </form>
                  <p><b>email:</b> {{UserData.email}}</p>
                  <p><b>email verify:</b> {{UserData.emailVerified}}</p>
                  <p><b>uid:</b> {{UserData.uid}}</p>
                  <button type="button" class="btn btn-primary" (click)="UpdateProfile(UserData.uid)">Сохранить</button>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">

            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

            </div>
          </div>
        </div>
    </div>
</div>
