<div class="container" style="padding-top: 20px;">
  <div style="position: absolute; margin: 10px; z-index: 10; left: 50%;" #alert>

  </div>
  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Профиль</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false" (click)="GetMyCourses()">Мои курсы</a>
        <!-- <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
        <button type="button" class="btn btn-outline-danger"  style="margin-top: 10px;" (click)="authService.SignOut()">Выйти</button>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
          *ngIf="UserData as user">
          <div style="display: flex; flex-direction: column; ">
            <form>
              <div class="form-group">
                <label for="InputName">Имя</label>
                <input type="text" class="form-control" id="InputName" [(value)]="user.name" #InputName>
              </div>
              <div class="form-group">
                <label for="InputSurename">Фамилия</label>
                <input type="text" class="form-control" id="InputSurename" [(value)]="user.surename" #InputSureName>
              </div>
            </form>
            <p><b>uid:</b> {{UserData.uid}}</p>
            <p><b>Account type:</b> {{UserData.account_type}}</p>
            <p><b>email:</b> {{UserData.email}}</p>
            <p><b>email verify:</b> {{UserData.emailVerified}}</p>
            <button type="button" class="btn btn-primary"
              (click)="UpdateProfile(InputName.value,InputSureName.value,UserData.uid)">Сохранить</button>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="border" *ngFor="let course of MyCoursesList; let j = index"
            style="display: flex; flex-direction: column; align-items: stretch; text-align: center;">
            <div>
              <h4>{{course.name}}</h4>
              <h5>Расписание</h5>
              <ul *ngFor="let time of course.timestable">
                <li>{{time.seconds * 1000 | date: 'dd.MM.yy HH:mm' }}</li>
              </ul>
              <h5>Успеваемость</h5>
              
              <div class="accordion" id="accordionExample" *ngFor="let student of course.progressList; let i = index">

                <div class="card">

                  <div class="card-header" [attr.id]="'heading' + j + i">
                    <h5 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]=" '#collapse'  + j +  i " aria-expanded="true" [attr.aria-controls]=" 'collapse' + j + i ">
                        {{ student.name + ' ' + student.surename }}
                      </button>
                    </h5>
                  </div>
              
                  <div [attr.id]=" 'collapse' + j + i " class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">LessonTime</th>
                            <th scope="col">Оценка</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let day of student.progress; let x = index">
                            <th scope="row">{{day.time.seconds * 1000 | date: 'dd.MM.yy HH:mm'}}

                            </th>
                            <td (dblclick)="onEdit(day)">{{day.rating}}
                              <form *ngIf="editState && itemToEdit == day">
                                <div class="form-group">
                                  <input type="text" class="form-control" [(ngModel)]="day.rating" aria-describedby="emailHelp" name="rating">
                                </div>

                                <button type="button" class="btn btn-primary" (click)="UpdateRating(student,course.id, course.group_id)">Обновить</button>
                                <button type="button" class="btn btn-warning" style="margin-left: 5px;" (click)="onCancel()">Отменить</button>
                              </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
         

              </div>

              <h5>Методические материалы</h5>
              <ul *ngFor="let material of course.metods">
                <li><a [(href)]="material.url">{{material.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
  
              </div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
  
              </div> -->
      </div>
    </div>
  </div>
</div>